@import "./normalize.css";
:root {
  --color-primary: #ff385c;
  --border-top: 1px solid lightgray;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
html {
  font-size: 62.5%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #222222;
  background-color: #fff;
}
h3 {
  font-size: 1.6rem;
  font-weight: 500;
}
p {
  font-size: 1.4rem;
  font-weight: 400;
}

/* Container */
.container {
  max-width: 74.3rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

/* TODO: Navbar */
.navbar {
  border-top: var(--border-top);
  border-bottom: 1px solid lightgray;
}
.navbar .navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.2rem;
}
.navbar-header {
  display: flex;
  align-items: center;
}

.navbar__brand {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.navbar__heading {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.navbar-container .navbar-col-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 65%;
}

/* Navbar Mid */

.navbar-mid {
  border: 1px solid lightgray;
  border-radius: 2.8rem;
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(209, 208, 208, 0.568);
  display: flex;
  transition: box-shadow 0.2s;
}
.navbar-mid:hover {
  box-shadow: 0 0 5px 1.5px rgb(211, 211, 211, 0.9);
}
.navbar-mid .list {
  display: flex;
  align-items: center;
}
.navbar-mid .list__item {
  border-left: 1px solid lightgray;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1.2rem 0;
}
.navbar-mid .list__item:first-child {
  border-left: none;
}
.navbar-mid .list__item:nth-child(3) {
  font-weight: 400;
  opacity: 0.7;
}
.navbar-mid .list__item:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  border-radius: 50%;
  padding: 1rem;
  margin: 0.3rem 0.5rem;
}

.navbar-mid .list__item .icon {
  width: 13px;
  height: 13px;
  color: #fff;
}
/* navbar Last */

.navbar-last .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.profile__icon {
  width: 30px;
  height: 30px;
}
.navbar-last .list {
  display: flex;
  align-items: center;
}
.navbar-last .list__item:nth-child(1) a {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navbar-last .list__item:nth-child(2) a {
  margin: 0.8rem 1rem;
  transform: translateY(2px);
}
.navbar-last .list__item:nth-child(1):hover,
.navbar-last .list__item:nth-child(2):hover {
  background: rgb(211, 211, 211, 0.15);
  border-radius: 25px;
}
.navbar-last .list__item:nth-child(3) {
  padding-left: 0.5rem;
}
.navbar-last .list__item:nth-child(3) a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  border: 1px solid lightgray;
  border-radius: 25px;
  padding: 0.8rem 1rem;
  transition: box-shadow 0.2s;
}
.navbar-last .list__item:nth-child(3) a:hover {
  box-shadow: 0 0 4px rgba(209, 208, 208, 0.925);
}
/*TODO: Hero */

.hero {
  display: flex;
  align-items: center;
  background: #fff;
}
.nav-heading {
  font-size: 3rem;
  font-weight: 500;
  display: none;
}
.nav-mb__heading {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.hero .list {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.hero .list__item {
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.hero .list__item:first-child {
  flex: 1;
}
.hero .list__item p,
.hero .list__item a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}
.hero .list__item a {
  font-size: 1.5rem;
  text-decoration: none;
}

.hero .list__item p {
  display: none;
}
.hero .icon {
  width: 18px;
  height: 18px;
}
.hero__footer {
  margin: 2rem 0;
}
.hero__footer .footer__heading {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2;
}
.hero__footer .footer__text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}
@media screen and (min-width: 743px) {
  .hero {
    justify-content: space-between;
    margin-top: 2rem;
  }
  .hero .list {
    width: auto;
  }
  .nav-heading {
    display: block;
  }
  .nav-mb__heading {
    display: none;
  }
  .hero .list__item p {
    display: block;
  }

  .hero .list__item:hover {
    background: rgb(211, 211, 211, 0.5);
    border-radius: 5px;
  }
  .hero .list__item:first-child:hover {
    background: none;
  }
  .hero .list__item:first-child {
    display: none;
  }
  .hero .icon {
    width: 18px;
    height: 18px;
  }
  .hero__footer {
    margin: 3rem 0;
  }
  .hero__footer.container {
    padding: 0;
  }
  .hero__footer .footer__heading {
    font-size: 2.4rem;
  }
  .hero__footer .footer__text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 743px) {
  .hero-container.container {
    max-width: 100%;
    padding: 0;
  }
  .hero .list {
    padding: 0.5rem 0.5rem;
  }
}

/* List styling */
.list {
  list-style: none;
}
/* TODO:  Hosted */
.hosted-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2.3rem 0;
  border-top: var(--border-top);
}
.hosted__img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.hosted__heading {
  font-size: 1.8rem;
  font-weight: 500;
}
.hosted__text {
  font-size: 1.5rem;
  opacity: 0.8;
}

/* TODO: media */
.hosted-block .hosted__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-top: var(--border-top);
  padding: 2rem 0;
}
.media {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.media__icon {
  padding: 1rem;
}
.requir-icon {
  fill: none;
  stroke: #000;
  stroke-width: 10;
  width: 400px;
}
.media__heading {
  font-size: 1.7rem;
  font-weight: 500;
}
.media__text {
  font-size: 1.4rem;
  line-height: 1.1;
  font-weight: 400;
  color: #6a6a6a;
}

/* TODO: Link */
.link {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
}
.icons {
  display: flex;
  align-items: center;
}
.icons .icon {
  transform: translate(-1px, 2px);
  width: 20px;
  height: 20px;
}

/*TODO: Profile Card */
.profile__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px 3px lightgray;
  max-width: 38rem;
  border-radius: 2.2rem;
  padding: 2.8rem 0;
  margin: 2rem 0 3rem;
}
.profile__image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.profile__heading {
  font-size: 3.1rem;
}
.profile__text {
  font-size: 1.5rem;
  word-spacing: -1px;
  font-weight: 600;
}
.profile__header {
  position: relative;
}
.profile__popular {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 5px;
  right: -1px;
}

/* TODO: image Gallery */
.image-container {
  position: relative;
  display: grid;
  grid-template: 300px / 1fr;
  overflow: hidden;
}
.slider-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: display 0.5s;
  display: none;
}

.counter {
  position: absolute;
  right: 15px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
.toggle__btn {
  position: absolute;
  right: 15px;
  bottom: 25px;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-radius: 7px;
  cursor: pointer;
  display: none;
}
.toggle__text {
  font-size: 1.5rem;
  font-weight: 500;
  display: inline;
}
.toggle__menu {
  padding-right: 0.5rem;
  transform: translateY(2px);
  width: 20px;
}
.active {
  display: block;
}

@media screen and (min-width: 743px) {
  .image-container {
    grid-template: repeat(2, 280px) / repeat(4, 1fr);
    border-radius: 10px;
    gap: 0.5rem;
    margin: 1rem 0;
  }
  .slider-item:first-child {
    grid-row: 1 / 3;
    grid-column: 1 /3;
  }
  .slider-item {
    display: block;
  }

  .counter {
    display: none;
  }
  .toggle__btn {
    display: block;
  }
}
.icon {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .image-container {
    grid-template-rows: 300px;
  }
}
/* Content Block */
.content-block {
  border-top: var(--border-top);
  padding: 3rem 0;
}
.content__main-heading {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem;
}
.content__body {
  display: none;
}
.content__text {
  font-size: 1.7rem;
  font-weight: 400;
  word-spacing: 0;
  line-height: 1.3;
  margin-bottom: 2.2rem;
  color: black;
}
.content__text::before {
  content: "•";
  font-size: 1em;
}
.content__text:first-child,
.content__text:last-child {
  margin-bottom: 0;
}
.content__text:first-child::before {
  display: none;
}
.content__sub-heading {
  font-size: 1.8rem;
  font-weight: 400;
  word-spacing: 0.2px;
  margin: 2rem 0;
}
@media screen and (min-width: 743px) {
  .content-block .icons {
    display: none;
  }
  .content__body {
    display: block;
  }
}
/* Profile Block */
.profile-block {
  border-top: var(--border-top);
  padding: 3rem 0;
}
.profile-block .media__text {
  opacity: 1;
  font-size: 1.8rem;
  color: #000;
}
.profile-block .media__icon {
  padding: 0;
}

.profile-block .media {
  margin-bottom: 1.5rem;
}
.profile-block__heading {
  font-size: 2.2rem;
  font-weight: 500;
}
.profile-block__text {
  margin-top: 2rem;
  font-size: 1.8rem;
  letter-spacing: 0;
}
/* Neighborhood Block */
.neighborhood-block {
  border-top: var(--border-top);
  padding: 2.5rem 0;
}
.neighborhood__heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.neighborhood-text {
  font-size: 1.8rem;
  font-weight: 400;
  color: black;
  word-spacing: 0;
  line-height: 1.2;
}

/* =============================== */
/*         Showcase Block          */
/* =============================== */

.showcase__item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
  border-top: var(--border-top);
}

.showcase__img {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}
.showcase__content {
  text-align: center;
  max-width: 35rem;
  margin: 0 auto;
}
.showcase__heading {
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1rem;
}
.showcase__text {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0;
}
@media screen and (min-width: 743px) {
  .showcase__img {
    max-width: 65rem;
  }
  .showcase__content {
    max-width: 60rem;
  }
  .showcase__heading {
    font-size: 10rem;
    margin-bottom: 1.5rem;
  }
  .showcase__text {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 500px) {
  .showcase__img {
    max-width: auto;
  }
}
.showcase__item-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: var(--border-top);
  padding: 5rem 0;
}
.showcase__item-2 .media {
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  flex-basis: calc(33.33% - 10px);
}
.showcase__item-2 .media__icon {
  padding: 0;
}
.showcase__item-2 .media__text {
  opacity: 1;
  font-size: 1.7rem;
}
.showcase__item-2 .media__heading {
  font-size: 1.8rem;
}
@media screen and (min-width: 743px) {
  .showcase__item-2 {
    flex-direction: row;
  }
  .showcase__item-2 .media {
    flex-direction: column;
    gap: 1.5rem;
  }
  .showcase__item-2 .icon {
    width: 33px;
    height: 33px;
  }
}
/* =============================== */
/*        Showcase Block End       */
/* =============================== */

/* =============================== */
/*       Instruction Block         */
/* =============================== */
.instruction {
  padding: 3rem 0;
  border-top: var(--border-top);
}
.instruction-container {
  display: flex;
  flex-direction: column;
}
.instruction__main-heading {
  font-size: 2.3rem;
  font-weight: 500;
  display: none;
}
.instruction__heading {
  font-size: 2.3rem;
  font-weight: 600;
}
.instruction-container .list__item {
  font-size: 1.5rem;
  padding-top: 0.7rem;
}
.instruction__item-1,
.instruction__item-2 {
  border-top: var(--border-top);
  padding: 1.5rem 0;
}
.instruction-container .list {
  margin-bottom: 0.8rem;
}
.instruction-container .link {
  font-size: 1.6rem;
}

@media screen and (min-width: 743px) {
  .instruction-container {
    flex-direction: row;
  }
  .instruction__main-heading {
    display: block;
  }
  .instruction__heading {
    font-size: 1.5rem;
  }

  .instruction__item-1,
  .instruction__item-2 {
    border: none;
    width: 33.33%;
  }
}
/* =============================== */
/*     Instruction Block End       */
/* =============================== */
/* =============================== */
/*           Map Block             */
/* =============================== */
.map {
  border-top: var(--border-top);
  padding: 3rem 0;
}
.map__heading {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.map__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
  word-spacing: 0;
}
.map__body {
  width: 100%;
  height: 218px;
  margin: 1.5rem 0;
  border: 0;
  border-radius: 8px;
}
.map__footer {
  font-size: 1.7rem;
  font-weight: 400;
  color: #000;
}
.map__footer .link {
  font-size: 1.8rem;
  text-transform: capitalize;
  padding-left: 0.5rem;
}
@media screen and (min-width: 743px) {
  .map__body {
    height: 480px;
  }
}
/* =============================== */
/*         Map Block End           */
/* =============================== */
.info {
  border-top: var(--border-top);
  padding: 3rem 0;
}
.info__body {
  max-width: 100%;
}
.info__body p {
  color: #6a6a6a;
  font-size: 1.3rem;
  font-weight: 500;
}
.info__body .link {
  font-size: 1.3rem;
  color: #6a6a6a;
}
@media screen and (min-width: 743px) {
  .info__body {
    max-width: 700px;
  }
}
/* =============================== */
/*             Footer              */
/* =============================== */
.page-footer {
  border-top: var(--border-top);
  background-color: #f7f7f7;
}
/* =============================== */
/*           Footer End            */
/* =============================== */
/* =============================== */
/*          Footer Links           */
/* =============================== */
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 3rem 0;
}
.footer-links .link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer-links .icons .icon {
  width: 15px;
  height: 15px;
  transform: translate(4px, 1px);
}
.footer-links .link:hover {
  text-decoration: underline;
}
/* =============================== */
/*       Footer Links End          */
/* =============================== */

/* =============================== */
/*        Footer Explore           */
/* =============================== */
.explore {
  border-top: var(--border-top);
  padding: 3rem 0;
}
.explore__heading {
  font-size: 2.3rem;
  font-weight: 500;
}
.explore .list {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.explore .list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.explore .list__item > :first-child {
  font-size: 1.5rem;
  font-weight: 600;
}
.explore .list__item > :nth-child(2) {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(97, 97, 97);
}
.footer__links {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.footer__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer__links .link__item {
  flex-basis: 33.33%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
}
@media screen and (min-width: 743px) {
  .explore .list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__links {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* =============================== */
/*      Footer Explore End         */
/* =============================== */
