<section class="content-block container">
  <p class="content__text">
    For the first time ever, I’m opening the doors to the Coramino Live
    Lounge—an exclusive, members-only speakeasy where you and a guest will get a
    front row seat to how I live. This is inner circle stuff. You think I’d open
    a bottle of Gran Coramino’s finest reposado for any Joe and Nancy off the
    street? No! (Unless your name is Joe or Nancy, my apologies.) I hope you’re
    as hyped as I am. See you on the other side of that velvet rope.
  </p>
  <a href="#" class="link"
    >Show more
    <svg class="icon">
      <use xlink:href="images/sprite.svg#greaterthan"></use>
    </svg>
  </a>
  <div class="content__body">
    <h3 class="content__main-heading">What you’ll do</h3>
    <p class="content__text">
      The Coramino Live Lounge is my baby. It’s a labor of love and a testament
      to my hard work, because it brings together my two greatest
      passions—comedy and tequila. (Besides my family, of course. Not trying to
      get in trouble here.) The vibe is incredible—it’s old school Hollywood
      meets Kevin Hart. Like a Rat Pack spot if there were more menu options
      than just Beef Wellington. Come hang with me and share a few laughs (and a
      few drinks).
    </p>
    <h4 class="content__sub-heading">
      Here’s the Kevin Hart-level VIP treatment you can expect
    </h4>
    <p class="content__text">
      When you enter through the velvet rope, you’ll be greeted with Gran
      Coramino’s finest—cristalinos, añejos, and my personal favorite,
      reposados—all paired with the perfect plant-based appetizer. Just a quick
      heads up—I will say “flavor profile” no less than fifteen times. I
      apologize in advance.
    </p>
    <p class="content__text">
      I’ll personally guide you through a tasting alongside Chai Lee, the 2023
      Gran Coramino Bartender of the Year. We’ll hook you up with a tasting card
      that has details on all three Gran Coramino tequilas, and while you’re
      reading them, I’m going to steal a reposado right out from under you. Nah,
      I won’t do that. (I might, though.)
    </p>
    <p class="content__text">
      Even after the tasting, we’ll have servers walking around all night with
      our four signature cocktails—The Boss, The Hart, Summer Melon Spritz, and
      The Mic Drop. I even got a laser to etch the Gran Coramino logo onto the
      ice cubes. That’s how serious I am about this, people. Lasers!
    </p>
    <p class="content__text">
      Our live DJ is gonna bring the beat, so you gotta bring the heat. Just
      make sure you stretch first. I want you to tear it up, just not your ACL.
    </p>
    <p class="content__text">
      Did you even come if you didn’t snap a pic? Strike a pose for our
      photographer and let the ‘gram know I’m taller in person, HA!
    </p>
    <p class="content__text">
      To top it all off, we’ve got a killer lineup of all-star performers
      straight from my contact list. I’d name drop, but I’m too classy for that.
      You’ll just have to come and see for yourself.
    </p>
  </div>
</section>
