<div class="footer-links">
  <div class="icons">
    <a href="#" class="link">Airbnb</a>
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#greaterthan"></use>
    </svg>
  </div>
  <div class="icons">
    <a href="#" class="link">United states</a>
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#greaterthan"></use>
    </svg>
  </div>
  <div class="icons">
    <a href="#" class="link">California</a>
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#greaterthan"></use>
    </svg>
  </div>
  <div class="icons">
    <a href="#" class="link">Los Angeles County</a>
    <svg class="icon">
      <use xlink:href="../images/sprite.svg#greaterthan"></use>
    </svg>
  </div>
  <div class="icons">
    <a href="#" class="link">Los Angeles</a>
  </div>
</div>
