<div class="image-container">
  <img src="images/1.webp" alt="Image 1" class="slider-item" />
  <img src="images/2.webp" alt="Image 2" class="slider-item" />
  <img src="images/4.webp" alt="Image 3" class="slider-item" />
  <img src="images/3.webp" alt="Image 4" class="slider-item" />
  <img src="images/5.webp" alt="Image 5" class="slider-item" />
  <img src="images/6.webp" alt="Image 6" class="slider-item" />
  <img src="images/7.webp" alt="Image 7" class="slider-item" />
  <img src="images/8.webp" alt="Image 8" class="slider-item" />
  <img src="images/9.webp" alt="Image 9" class="slider-item" />
  <img src="images/10.webp" alt="Image 10" class="slider-item" />
  <img src="images/11.webp" alt="Image 11" class="slider-item" />
  <a class="prev">&#10094;</a>
  <a class="next">&#10095;</a>
  <div class="counter" id="imageCounter">1 / 3</div>
  <div class="toggle__btn">
    <i class="fa-regular fa-bars fa-xl toggle__menu"></i>
    <p class="toggle__text">Show all photos</p>
  </div>
</div>
