<div class="image-container">
  <img src="../images/1.webp" alt="Image 1" class="slider-item active" />
  <img src="../images/2.webp" alt="Image 2" class="slider-item" />
  <img src="../images/4.webp" alt="Image 3" class="slider-item" />
  <img src="../images/3.webp" alt="Image 4" class="slider-item" />
  <img src="../images/5.webp" alt="Image 5" class="slider-item" />

  <div class="counter" id="imageCounter">
    <span id="counter">1</span> <span id="totalImages"></span>
  </div>
  <div class="toggle__btn">
    <i class="fa-regular fa-bars fa-xl toggle__menu"></i>
    <p class="toggle__text">Show all photos</p>
  </div>
</div>
