<div class="instruction">
  <h2 class="instruction__main-heading">Things to know</h2>
  <div class="instruction-container">
    <div class="instruction__item-1">
      <h3 class="instruction__heading">The basics</h3>
      <ul class="list">
        <li class="list__item">Check-in after 5:00 PM</li>
        <li class="list__item">Checkout before 8:00 PM</li>
        <li class="list__item">2 guests maximum</li>
      </ul>
      <div class="icons">
        <a href="#" class="link">Show more </a>
        <svg class="icon">
          <use xlink:href="../images/sprite.svg#greaterthan"></use>
        </svg>
      </div>
    </div>
    <div class="instruction__item-2">
      <h3 class="instruction__heading">Safety & property</h3>
      <ul class="list">
        <li class="list__item">Exterior security cameras on property</li>
        <li class="list__item">Carbon monoxide alarm</li>
        <li class="list__item">Smoke alarm</li>
      </ul>
      <div class="icons">
        <a href="#" class="link">Show more </a>
        <svg class="icon">
          <use xlink:href="../images/sprite.svg#greaterthan"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
