<section class="media-block">
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#lock"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading">Hang with me in my private speakeasy</h3>
      <p class="media__text">
        Get exclusive access to me AND my club. It’s fancy—closed-toed shoes
        fancy.
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#glass"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading">Turn up for tequila time</h3>
      <p class="media__text">
        My resident tequila tutor Chai Lee will take you to school on these
        dranks!
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#throw"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading">Throw down on the dance floor</h3>
      <p class="media__text">
        Get wild to our DJ—just don't challenge me to a dance battle. I will
        win.
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#watch"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading">Watch all-stars perform</h3>
      <p class="media__text">
        I’m calling in some favors for this one. Hell, I might even hit the
        stage.
      </p>
    </div>
  </div>
</section>
