<nav class="navbar">
    <div class="navbar-container container">
      <div class="navbar-col-1">
        <div>
          <a class="navbar-header" href="/">
            <img class="navbar__brand" src="images/airbnb.svg" alt="" />
            <h1 class="navbar__heading">airbnb</h1>
          </a>
        </div>
        <div class="navbar-mid">
          <ul class="list">
            <li class="list__item">Anywhere</li>
            <li class="list__item">Any week</li>
            <li class="list__item">Add guests</li>
            <li class="list__item">
              <img class="list__btn" src="images/search_icon.svg" alt="" />
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-last">
        <ul class="list">
          <li class="list__item"><a href="#">Airbnb your home</a></li>
          <li class="list__item">
            <a href="#">
              <img class="internet__icon" src="images/internet.svg" alt="" />
            </a>
          </li>
          <li class="list__item">
            <a href="#">
              <img class="menu__icon" src="images/menu.svg" alt="" />
              <img class="profile__icon" src="images/profile.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>