<div class="profile-block">
  <h2 class="profile-block__heading">Meet your Host</h2>
  <a href="#" class="profile__card">
    <div class="profile__header">
      <img
        class="profile__image"
        src="images/profile.jpeg"
        alt="A stylish man Profile picture"
      />
      <img class="profile__popular" src="images/popular.svg" alt="" />
    </div>
    <div class="profile__body">
      <h2 class="profile__heading">Kevin Hart</h2>
      <p class="profile__text">Started hosting in 2024</p>
    </div>
  </a>

  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#school"></use>
      </svg>
    </div>
    <div class="media__body">
      <p class="media__text">
        Where I went to school: George Washington High School
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#my work"></use>
      </svg>
    </div>
    <div class="media__body">
      <p class="media__text">My work: Comedian/businessman</p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#bulb"></use>
      </svg>
    </div>
    <div class="media__body">
      <p class="media__text">
        Fun fact: I was a nationally competitive swimmer
      </p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#clock"></use>
      </svg>
    </div>
    <div class="media__body">
      <p class="media__text">I spend too much time: Working</p>
    </div>
  </div>
  <div class="media">
    <div class="media__icon">
      <svg class="icon">
        <use xlink:href="images/sprite.svg#pets"></use>
      </svg>
    </div>
    <div class="media__body">
      <p class="media__text">Pets: My two dogs</p>
    </div>
  </div>
  <p class="profile-block__text">
    What up, world?! It’s Kevin Hart! You might know me as an actor and
    comedian, but I’m also a producer, media mogul, and one-time underwear model
    (not a joke). I’m also a lifelong lover of tequila and the founder of Gran
    Coramino. It may sound like a lot, but hard work tastes different. I’m
    excited for YOU to get a taste of all that hard work at the Coramino Live
    Lounge. Mark your calendars, it’s about to go down!
  </p>
</div>
