<div class="showcase container">
  <div class="showcase__item-1">
    <img class="showcase__img" src="images/box.png" alt="" />
    <div class="showcase__content">
      <h2 class="showcase__heading">icons</h2>
      <p class="showcase__text">
        Extraordinary experiences hosted by the world’s greatest names in music,
        film, TV, art, sports, and more.
      </p>
    </div>
  </div>
  <div class="showcase__item-2">
    <div class="media">
      <div class="media__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#email"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Request to book</h3>
        <p class="media__text">
          Choose your dates, add your guests, then answer a question about why
          you want to go
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#check"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Selection process</h3>
        <p class="media__text">
          First, we’ll randomly choose a set of potential guests. Next, we’ll
          review their answers for unique perspectives and connections to the
          icon. Then, we’ll invite selected guests to book.
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media__icon">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#requirement"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__heading">Requirements</h3>
        <p class="media__text">
          You’ll need an active Airbnb account and the app to participate, and
          be a resident of an eligible country or region. It won’t cost you
          anything to submit a request.
        </p>
      </div>
    </div>
  </div>
</div>
